*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

html, body, #app {
  height: 100%;
  min-height: 100vh;
}